*{

    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;;
}
.container{
    width: 100%;
    margin: 0 auto;

}
.text-center{
    text-align: center;
}
/* #menulst{
    color: aqua;
    right: 20px;
    top: 20px;
    position: fixed;
} */
.border{
    background-image: url(../FitnessIn/img/1.jpg);
    height: 680px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.addres{
    color: white;
    padding: 1em 0;
    border-bottom: solid 1px;

}
.heading{
    padding: 50px ;
}
span{
    color: white;
}
.fitness{
    color: skyblue;
    letter-spacing: 2px;
    font-size: 4em;
    padding: 70px 0 0 0;
    text-align: center;
}
.lorem{
    color: white;
    margin: 30px;

}
.buttn input{
    color:black;
    font-size: 1em;
    padding: 1em 4em;
    border: solid 2px white;
    text-decoration: none;
    border-radius: 30px;
    margin:60px 0 0 0;
    background:white;
    text-align: center;
}
.main-menu{
    border-top: solid 1px white;

}
.main-menu ul li{
    display: inline-block;
    text-transform: uppercase;

}
.main-menu ul li a{
    text-decoration: none;
    color: aliceblue;
}
/* li{
    margin: 25px;
} */
.about{
    padding: 4em 0;
}
.us{
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    padding: 30px;

}
.img2{
    width: 100%;
    height: 360px;
    object-fit: cover;
}

.row{
    display: flex;
    flex-wrap: wrap;
    }
.col-50 {
    width: 100%;
}
.left{
    margin-left: auto ;
}
.fa-gear{
    padding-top: 20px;
    margin: 22px;
    font-size: 30px;
    color:skyblue;
}
.pr1 {
    
    width: 80%;
}
.pr1 p{
font-size: .9em;
line-height: 1.8em;
text-align: left;
color: gray;
}
.pr1 h5{
    margin: 1em 0 1em 0;
    font-size: 1em;
    font-weight: 600;
    color: black;
}
.bg{
    background: #e9e9e9;
    width:100%
}
.col-25{
    width: 100%;

}
.our{
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    padding: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.box{
    height: 300px;
    background-color:white;
    box-shadow: 0 0px 1px rgb(107 107 107), 0 1px 2px rgb(0 0 0 / 24%);

    
}
h4{
    text-transform: uppercase;
    font-weight: 600;
}
.fa-money-bill-1{
    font-size: 50px;
    text-align: center;
}
.ber{
    width: 30%;
    margin: 1em auto 0;
    border: solid 1px skyblue
}
.bx{
    padding-top: 100px;
}
.fa-comment{
    font-size: 50px;
    text-align: center;

}
.fa-user{
    font-size: 50px;
    text-align: center;
  
}
.fa-thumbs-up{
    font-size: 50px;
    text-align: center;

}
.fa-bell{
    font-size: 50px;
    text-align: center;

}
.fa-sun{
    font-size: 50px;
    text-align: center;
 
}
.fa-credit-card{
    font-size: 50px;
    text-align: center;

}
.fa-umbrella{
    font-size: 50px;
    text-align: center;
}
.fa-comment{
    font-size: 50px;
    text-align: center;

}
.fa-book{
    font-size: 50px;
    text-align: center;
 
}
.gallery{
    /* height: 100%; */
    width: 100%;

}
.bg-1{
    background-color: white;
}
.start{
    background-image: url(./img/1-1.jpg);
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.count{
    background-color: aqua;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0 auto;
}


.count i{
    line-height: 80px;
    font-size: 35px;
    color: white;

}
.num{
    font-size: 3em;
    font-weight: 700;
    color: #fff;
    margin: 0.5em 0;
    width: 100%;
    line-height: 48px;
}
.num h6{
    font-size: 20px;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
}

.pd{
    padding: 4em 0;
}
.team{
    background-color: #ffffff;
}
.tname{
    text-align: center;
    background-color: black;
    color: white;
    padding:15px;
}
.pdx{
    padding: 5px;
    margin: 57px 0;}
.news{
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}
.ahvments{
    color: black;
    font-size: 2em;
    margin: 0;

}
.achivemets{
    color: #ffffff;
    background-color: aqua;
    padding: 10px;
    margin: 30px 0;
}
.achivemets ul li{
    list-style-type: none;
    margin: 1.3em 1em;
    display: block;
}
.news-right{
    padding-left: 53px; ;
}
.information{
    margin-left: 85px;
    margin-top: 50px;
}
.image-radi{
    width: 155px;
    height: inherit;
    border-radius: 50%;
}
.fucse h5{
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.fucse h6{
    font-size: 15px;
    color: rgb(47, 121, 121);
    margin: 16px 0;
}
.fucse p{
    width: 555px;
    font-size: 16px;
    color:gray;
    line-height: 16px;
}
/* .datew3{
    margin-left: 50px;
} */
.contanct{
    background: #ffffff;
}
.map{
    width: 100%;

}
@media (min-width:576px) {
    .container{
        width: 540px;
    }
    .col-25{
        width: 100%;
    }
    .col-50{
        width: 100%;
    }
    .border{
        width: 100%;
        height: auto;
    }
    .main-menu ul li{
        padding: 8px 0 10px 17px;    
    }
    .fucse p {
        width: 463px;
    }
    .gallery{
        width: 100%;
    }
    
}
@media (min-width:768px) {
    .container {
      width: 720px;
    }

    .col-25 {
      width:50%;
    }
    .col-50 {
        width: 100%;
      }
  }

  @media (min-width:992px) {
    .container {
      width: 960px;
    }

    .col-25 {
      width: 25%;
    }
    .col-50{
        width: 50%;
    }
    .informatiom{
        margin-top: 50px;
    }
    
  }

  @media (min-width:1200px) {
    .container {
      width: 1140px;
    }

    .col-25 {
      width: 25%;
    }
    .col-50 {
        width: 50%;
      }
  }
  